.loading {
  color: #aaa;
}

h2 {
  font-size: 14px;
  font-family: Inter, sans-serif;
}

p {
  font-size: 10px;
  font-family: Inter, sans-serif;
}

audio {
  display: block;
}

#main {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

.header {
  display: flex;
  align-items: center;
}

.nav-logo {
  margin: 10px;
}

.episode-block {
  width: 300px;
  margin: 20px;
}